body{
  background: #fafafa;
  margin: 2% 10%;
  font-family: "Montserrat";font-size: 24px;
  color:#333;
}

/* nav bar styling */
nav{
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";font-size: 16px;font-weight: 400;
  font-weight:600;
  justify-content: space-between;
  align-items: baseline;
  /* position: fixed;
  width: 80%;
  top:20; */
}


nav a{
  color:#333;
  text-decoration:none;
}

nav a.logo{
  font-family: "Poppins";font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}


nav ul{
  padding-left: 0px;
  margin-left: 3%;
  display: block;
}

nav ul li{
  display: inline;
  margin-left: 30px;
}


.rectangle-logo{
  background: #DFF1F0;
  width:130px;
  height: 20px;
  margin-top: -15%;
}

a.active{
  color:#1C7CBD;
}

nav a:hover{
  opacity: 0.6;
}

main{
  display: block;
}

/* intro styling */
.intro{
  margin-right: 20%;
  margin-top: 15%;
}

.intro h2{
  font-family:"Poppins";
  font-size: 64px;
  letter-spacing: 1px;
  color:#333;
}

.rectangle-intro{
  background: #DFF1F0;
  width:500px;
  height: 50px;
  margin-top: -5%;
}

.accent{
  font-weight: 600;
  color: #1D98BF;
}

/* thumbnail styling */
.thumbnail-grid{
  width:100%;
  justify-content: center;
  display: flex;
  flex-direction:row;
  margin-bottom: 10%;
}


.content{
  margin-top: 10%;
  justify-content: center;
}


.container{
  width:550px;
  height:530px;
  margin-right: 100px;
  background-color: #FAFAFA;
  box-shadow: 0px 4px 20px rgba(28, 124, 189, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}


.thumbnail{
  display: block;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: auto;
}

.project{
  text-decoration: none;
}

.proj_descript{
margin-left:8%;
margin-right:5%;
}

.proj_descript h3{
font-size: 24px;
color:#333;
margin-bottom: 10px;
}

.proj_descript h4{
font-weight: 500;
font-size: 18px;
color:#A7A7A7;
margin-bottom: 10px;
margin-top: 10px;
}

.proj_descript p{
font-size: 18px;
color:#333;
margin-top: 10px;
}

/* hover effect */
.container:hover{
 transform:translate(0px,-10px);
 transition-timing-function: ease;
}


/* back to top */
#myBtn{
  display: none;
  position: fixed;
  bottom: 10%;
  right:10%;
  z-index:99;
  border:none;
  outline: none;
  padding:15px;
  color:#A7A7A7;
  font-size: 24px;
  font-weight: 600;
  background-color: #fafafa;
}

#myBtn:hover{
  color:#1C7CBD;
}

/* footer styling */
footer p{
  text-align: center;
  font-size: 12px;
}

footer p.contact a{
  color:#1C7CBD;
  text-decoration:underline;
  margin-right: 3px;
}

footer{
  margin-top: 10%;
}

/* about page styling */
.about-content{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}

.about-img{
  width: 500px;
  height:580px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgba(28, 124, 189, 0.2);
  margin-right: 10%;
}

.about h3{
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
}

.rectangle-about{
  background: #DFF1F0;
  width:270px;
  height: 40px;
  margin-top: -7%;
}

.about p{
  font-size: 18px;
  line-height: 30px;
}

.about-contact{
  margin-top: 15%;
}

.about-contact a{
  color:#1C7CBD;
  font-size: 18px;
  font-weight: bold;
  text-decoration:none;
  margin-right: 10%;
}

.about-contact a:hover{
opacity: 0.6;
}
