body{
  background: #fafafa;
  margin: 2% 10%;
  font-family: 'Poppins', sans-serif;font-size: 16px;
  color:#363636;
  line-height: 1.8em;
}

/* nav bar styling */
nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}


nav a{
  color:#363636;
  text-decoration:none;
}


nav ul{
  padding-left: 0px;
  display: block;
}

nav ul li{
  display: inline;
  margin-right:30px;
}


.active{
  color:#1C7CBD;
}

a{
  color:#1C7CBD;
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}

.project:hover{
  opacity: 1.0;
}

main{
  display: block;
}


/* intro styling */

.intro h2{
  font-family: 'Cormorant Garamond', serif;
  font-size: 64px;
  letter-spacing: 1px;
  color:#333;
}


.accent{
  font-weight: 600;
  color: #1D98BF;
}

/* thumbnail styling */
.thumbnail-grid{
  width:100%;
  justify-content: center;
  display: flex;
  flex-direction:row;
  margin-bottom: 5%;
  padding-left: 0px;
}


.container-left{
  width:100%;
  height:100%;
  margin-right: 50px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}

.container-right{
  width:100%;
  height:100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}


.thumbnail{
  display: block;
  width: 100%;
  height: 65%;
}

.project{
  text-decoration: none;
}

.proj_descript{
margin-right:5%;
}

.proj_descript h3{
font-size: 20px;
color:#333;
margin-bottom: 10px;
}

.proj_descript h4{
font-weight: 500;
font-size: 14px;
color:#A7A7A7;
line-height:2px;
}

.proj_descript p{
font-size: 14px;
color:#333;
}

/* hover effect */
.container-left:hover{
 transform: scale(1.05);
 transition-timing-function: ease;
}

.container-right:hover{
 transform: scale(1.05);
 transition-timing-function: ease;
}


/* back to top */
#myBtn{
  display: none;
  position: fixed;
  bottom: 10%;
  right:5%;
  z-index:99;
  border:none;
  outline: none;
  padding:15px;
  color:#A7A7A7;
  font-size: 24px;
  font-weight: 600;
  background-color: #fafafa;
}

#myBtn:hover{
  color:#1C7CBD;
}

/* footer styling */

footer h2{
    font-family: 'Cormorant Garamond', serif;
    font-size:48px;
    color: #333;
}
footer p.contact{
  font-size: 14px;
}

footer p.contact a{

  color:#333;
  margin-right: 5%;
}

footer p.contact a:hover{
  text-decoration:underline;
  opacity: 0.6;
}

.footnote{
  font-size: 12px;
  text-align: center;
}

footer{
  margin-top: 10%;
}

/* about page styling */
.about-content{
  justify-content: center;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

figure{
  margin-top: 0%;
  margin-right: 5%;
}

.about-img{
  width: 500px;
  height:580px;

}

figcaption{
  text-align: center;
  font-size: 12px;
}

.about h3{
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



.about-contact{
  margin-top: 5%;
}

.about-contact a{
  color:#1C7CBD;
  font-weight: bold;
  text-decoration:none;
  margin-right: 10%;
}


/* project page */

.project_page{
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
}

.brief{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  align-items: center;
}

.brief_img{
  width:25%;
  height: 25%;
}

.brief_img_laptop{
  width:50%;
  height: 50%;
  margin-top: 15%;
}

.brief_txt{
  margin-left: 5%;
}

.brief_txt h1{
  margin-bottom: 10%;
}

hr{
  color:#e5e5e5;
  border-width: 0.5px;
  margin-top: 8%;
}

.summary{
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

.summary_txt{
  margin-left: 5%;
}

.project_img{
  width:50%;
  height: 50%;
}

.project_img_fit{
  width:35%;
  height: 35%;
}

.small_img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.medium_img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}

.large_img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}


iframe{
   display: block;
}

/* accent color */
.accent-google{
  font-weight: 600;
  color: #F39539;
}

.accent-game{
  font-weight: 600;
  color: #583D72;
}

.accent-fit{
  font-weight: 600;
  color: #FE7A15;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* mobile responsive web design */
@media screen and (max-width: 600px){

  body{
    margin: 2% 10%;
    font-family: 'Poppins', sans-serif;font-size: 10px;
  }

  main{
    margin-left: 0px;
  }

  nav{
    font-size: 10px;
  }
/* landing page */
  .intro h2{
    font-size: 32px;
  }

  .thumbnail-grid{
    flex-direction:column;
    margin-right: 0px;
  }


  .proj_descript h3{
  font-size: 16px;
  }

  .proj_descript h4{
  font-size: 10px;
  }

  .proj_descript p{
  font-size: 10px;
  }

/* back to top */
  #myBtn{
    visibility: hidden;
  }
/* footer */
  footer p{
    text-align: center;
    font-size: 9px;
  }
/* about */
.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure{
  margin-bottom:20px;
  margin-left: 0px;
}

/* project page */
.brief{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.brief_img{
  width:100%;
  height: 100%;
}

iframe{
  width:100%;
  height: 100%;
}

.summary{
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.project_img{
  width:100%;
  height: 100%;
}

.project_img_fit{
  width:100%;
  height: 100%;
}

.small_img{
 width: 100%;
}

.medium_img{
 width: 100%;
}

.brief_img_laptop{
  width:100%;
  height: 100%;
  margin-top: 15%;
}


}

@media screen and (max-width: 768px){
  .thumbnail-grid{
    flex-direction:column;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .container-left{
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .container-right{
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .brief{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  .brief_img{
    width:100%;
    height: 100%;
  }

  .summary{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
  }

  iframe{
    width: 500px;
    height:400px;
  }

  .project_img{
    width:100%;
    height: 100%;
  }

  .project_img_fit{
    width:100%;
    height: 100%;
  }


  #myBtn{
    bottom: 5%;
    right:3%;
  }

  .small_img{
   width: 100%;
  }

  .medium_img{
   width: 100%;
  }

  .brief_img_laptop{
    width:100%;
    height: 100%;
    margin-top: 15%;
  }

  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .about-img{
    width: 280px;
    height:326px;
  }

  figure{
    margin-left: 0px;
    margin-right: 0px;
  }

}

@media screen and (min-width: 1440px){

}
